<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="wrap">
    <div id="wrap_login">
        <form action="savePassword" method="post" class="form_wrap">
            Nhập mật khẩu mới
            <input class="login_input" type="password" name="newPassword">
            Nhập lại mật khẩu mới
            <input class="login_input"  type="password" name="password2">
            <input type="submit" value="save" class="save_login">
            <form>
    </div>
</div>
</body>
</html>