<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table th:if="${DSLSGiaoDich != null && !DSLSGiaoDich.empty}" border="1">
    <tr>
        <td>Số thứ tự</td>
        <td>Số tiền rút</td>
        <td>Thời Gian</td>
    </tr>
    <tr th:each="LSGiaoDich: ${DSLSGiaoDich}" >
        <td><span ></span></td>
          <td><span th:text="${LSGiaoDich.soTienRut}" ></span></td>
        <td><span th:text="${LSGiaoDich.createDate}" ></span></td>
    </tr>
<!--  <li th:each="LSGiaoDich: ${DSLSGiaoDich}" th:text="${LSGiaoDich.id} + ' - ' +  ${LSGiaoDich.soTienRut}-->
<!--    "></li>-->
</table>
</body>
</html>