<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<!--<h1>al</h1>-->
<h1>Bạn đã rút thành công <span th:text="${money}"></span></h1>
<table border="1">
    <tr>
        <td>
            Mệnh Giá
        </td>
        <td>
            Số Lượng
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${a}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${l}"></span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${b}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${h}"></span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${c}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${i}"></span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${d}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${k}"></span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${e}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${m}"></span></p>
        </td>
    </tr>
    <tr>
        <td>
            <p style=""><span th:text="${f}"></span></p>
        </td>
        <td>
            <p style=""><span th:text="${n}"></span></p>
        </td>
    </tr>

</table>
<!--<div class="container">-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/200k.jfif">-->
<!--        <link th:href="@{/images/200k.jfif}" rel="stylesheet"/>-->
<!--        <p style=""><span th:text="${a}"></span></p>-->
<!--    </div>-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/200k.jfif">-->
<!--        <p style=""><span th:text="${b}"></span></p>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/100k.jfif">-->
<!--        <p style=""><span th:text="${c}"></span></p>-->


<!--    </div>-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/50k.jfif">-->
<!--        <p style=""><span th:text="${d}"></span></p>-->

<!--    </div>-->
<!--</div>-->
<!--<div class="container">-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/20k.jfif">-->
<!--        <p style=""><span th:text="${e}"></span></p>-->

<!--    </div>-->
<!--    <div class="subContainer">-->
<!--        <img src="/static/images/10k.jfif">-->
<!--        <p style=""><span th:text="${f}"></span></p>-->

<!--    </div>-->
<!--</div>-->
<h2><a class="link_return" href="/user/success">Quay lại màn hình home</a></h2>
</body>
</html>